{% extends 'reg_generic.html' %}

{% block formfields %}

<form action="" method="POST">
    {% csrf_token %}
    {% if form.email.errors %}
        {{ form.email.errors }}
    {% endif %}
    <p>
        <label for="{{ form.email.id_for_label }}" class="col-form-label">{{ form.email.label }}</label>
        {{ form.email }}
    </p>

    <a class="btn btn-outline-secondary" href="{% url 'login' %}">Cancel</a>

    <input type="submit" value="Reset password" class="btn btn-primary" />

</form>

{% endblock%}