{% extends 'reg_generic.html' %}

{% block formfields %}

{% if validlink %}
<p>Please enter (and confirm) your new password</p>
<form action="" method="POST">
    {% csrf_token %}
    <table class="table-sm text-center mb-3">
        <tr>
            <td colspan="3">
                <div class="bg-light">
                    <small class="text-danger">{{ form.new_password1.errors }}{{ form.new_password2.errors }}</small>
                </div>
            </td>
        </tr>
        <tr>
            <td><label for="{{ form.new_password1.id_for_label }}">{{ form.new_password1.label }}</label></td>
            <td>{{ form.new_password1 }}</td>
        </tr>
        <tr>
            <td><label for="{{ form.new_password2.id_for_label }}">{{ form.new_password2.label }}</label></td>
            <td>{{ form.new_password2 }}</td>
        </tr>
    </table>
    <input class="btn btn-primary" type="submit" value="Reset my password" />
</form>
{% else %}
<h1>Password reset failed</h1>
<p>The password reset link was invalid, possibly because it has already been used.</p>
{% endif %}

{% endblock %}