{% extends 'base_generic.html' %}

{% block title %}Staffs{% endblock %}

{% block dependancy %}
{% load static %}
<link rel="stylesheet" href="{% static 'shop/css/style_staff_list.css' %}">
<script src="{% static 'shop/js/script_staff_list.js' %}"></script>
{% endblock %}

{% block navtitle %}Staffs{% endblock %}

{% block content %}
<div class="col-sm-8 p-4" id="main_panel">
    <div class="card" id="staff_box">
        <div class="row px-3 pt-3">
            <div class="input-group">
                <div class="col-sm-9">
                    <input type="text" id="input_staff" class="form-control" placeholder="Search for staffs with username, email, name or ID" aria-label="Staff">
                </div>
                <div class="col-sm-3 d-grid ps-3">
                    <a href="{% url 'new-staff' %}" class="btn btn-primary">Add new staff</a>
                </div>
            </div>
            <h6 class="text-end text-muted py-2">Click on a staff below to see details</h6>
        </div>

        <div class="card-body overflow-auto">
            {% if object_list %}
            <table class="table" id="staff_list">
                <thead class="thead">
                    <tr>
                        <th>Staff ID</th>
                        <th>Admin status</th>
                        <th>Full name</th>
                        <th>User name</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    {% for staff in object_list %}
                    <tr>
                        <td>{{ staff.staff_id }}</td>
                        <td>
                            {% if staff.admin %}
                            ✔️
                            {% else %}
                            ❌
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ staff.get_absolute_url }}">{{ staff.full_name }}</a>
                        </td>
                        <td>{{ staff.username }}</td>
                        <td class="fst-italic text-muted">{{ staff.email }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p class="text-justify my-4 text-center">
                No staff to show
            </p>
            {% endif %}
        </div>
    </div>
</div>

<div class="col-sm-4 p-4" id="side_panel">
    <div class="card" id="details_box">
        <div class="pt-2 pb-1 border-bottom text-center text-secondary">
            <h5><strong>Summary</strong></h5>
        </div>
        <div class="card-body overflow-auto">
            <p class="text-center">
                Currently {{ staff_count }} staff(s) are working.
            </p>
        </div>
    </div>
</div>

{% endblock %}